@import './../../abstracts/variables.scss';
@import './../../abstracts/mixins.scss';

@font-face {
   font-family: 'SF Pro Display';
   src: url('./../../assets/fonts/SFProDisplay-Regular.woff');
   font-weight: 400;
   font-style: normal;
}

.btnShow {
   margin: 35px auto;

   height: 50px;
   width: 252px;

   @include flex-edit(center, center);

   background-color: $baseColor;

   @include text-edit('SF Pro Display', 400, 0.9375rem, 1.2);
   letter-spacing: 0.12em;
   text-transform: uppercase;
   text-align: center;
   color: $textColor;

   &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border-radius: 3px;
      transform: scale(1.01);
   }
}