@import "./../../abstracts/variables.scss";

.pointerPageSpan{
    position: relative;
    color:$lightGrey;
    margin: 10px 25px 0 0;

    &::after{
        content: "";
        position: absolute;
        background: url("./../../assets/image/pointerPage/Back.svg") center/ cover no-repeat;
        
        top: 25%;
        right: -17px;
        width: 7px;
        height: 11px;
    }
    &:last-child::after {
        content: none;
        
    }
        
        
    
}
