@charset "UTF-8";
@font-face {
  font-family: 'Barlow';
  src: url(./../../../../assets/fonts/Barlow-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url(./../../../../assets/fonts/Barlow-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(./../../../../assets/fonts/SFProDisplay-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

.stock {
  height: 397px;
  width: 265px;
  border: 1px solid #C4C4C4;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.stock:hover {
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border-radius: 3px;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.stockPrice {
  margin-right: 10px;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 1.685rem;
  line-height: 1.18;
  font-style: normal;
  text-align: left;
  color: #1C62CD;
}

.stockPriceNormal {
  margin: 5px 5px 0 0;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #C4C4C4;
  position: relative;
}

.stockPriceNormal::after {
  content: " ₽";
}

.stockPriceNormal::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #c4c4c4;
  display: block;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  position: absolute;
  top: 7px;
  left: -4px;
}

.stockPriceNormalWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -35px;
}

.stockPrice::after {
  content: " ₽";
}

.stockImgItemWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stockImgItemWrapper h2 {
  max-width: 190px;
  margin-top: 10px;
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.17;
  text-align: center;
}

.stockTimeAction {
  height: 112px;
  width: 262px;
  margin-top: 10px;
  background-color: #F0F0F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.17;
}

.stockTimeAction span {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #1C62CD;
}

@media (max-width: 1200px) {
  .stock {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=Stock.module.css.map */