@import './../../../abstracts/variables.scss';
@import './../../../abstracts/mixins.scss';

@font-face {
    font-family: 'SF Pro Display';
    src: url(./../../../assets/fonts/SFProDisplay-Medium.woff);
    font-weight: 400;
    font-style: normal;
}

.tabs {
    height: 70px;
    width: 1172px;
    border-radius: 1px;
    background: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabsText {
    color: #2F3035;
    @include text-edit('SF Pro Display', 400, 1.25rem, 1.193);
    opacity: 0.6;
}

.tabs a {
    text-decoration: none;
}

.tabs a:active {
    border-bottom: 2px solid #1C62CD;
}

@media screen and (max-width:900px) {
    .tabs {
     flex-direction: column;
        width: 300px;
        height: 480px;
        background: white;
        align-items: flex-start;
        margin-left: 10px;
    }
}