.cardDetailsInner {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-auto-rows: 130px;
    gap: 30px;
}

@media screen and (max-width:1170px) {
    .cardDetailsInner {
        grid-template-columns: 330px 330px;
        justify-content: center;
    }
}

@media screen and (max-width:769px) {
    .cardDetailsInner {
        grid-template-columns: 330px;
        grid-auto-rows: auto;
        justify-content: center;
    }
}