@font-face {
   font-family: 'Barlow';
   src: url(./Barlow-Bold.woff);
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url(./SFProDisplay-Regular.woff);
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url(./SFProDisplay-Regular.woff);
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url(./SFProDisplay-Medium.woff);
   font-weight: 500;
   font-style: normal;
}