@import './../../../abstracts/variables.scss';
@import './../../../abstracts/mixins.scss';

@font-face {
   font-family: 'SF Pro Display';
   src: url(./../../../assets/fonts/SFProDisplay-Medium.woff);
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'SF Pro Display';
   src: url(./../../../assets/fonts/SFProDisplay-Bold.woff);
   font-weight: 700;
   font-style: normal;
}

.sliderCard {
   transition: all 0.3s ease;


   &:hover {
      .showProduct {
         opacity: 0.9;
         cursor: pointer;
      }
   }

   .goodsImg {
      //margin-top: 52px;
      //margin-bottom: 14px;
      display: block;
      margin: 0 auto;
   }

   .goodsDiscr {
      margin: 5px auto 25px auto;

      max-width: 190px;

      @include text-edit('SF Pro Display', 400, 1.125rem, 1.17);

      text-align: center;
   }

   .goodsPrice {
      @include text-edit('SF Pro Display', 700, 1.875rem, 1.2);
      text-align: center;
   }

   .saleIcon {
      position: absolute;
      top: 0;
      left: 0;
   }

   .getFavorite {
      display: inline-block;

      position: absolute;
      top: 0;
      right: 0;

   }

   .bottomBtn {
      position: absolute;
      bottom: 0;
      right: 0;
   }

   .favoriteInput {
      width: 1px;
      height: 1px;
      visibility: hidden;
   }

   .showProduct {
      width: 230px;
      height: 61px;

      position: absolute;
      top: 105px;
      left: 50%;
      transform: translateX(-50%);

      @include text-edit('SF Pro Display', 400, 1.25rem, 1.2);

      font-style: normal;
      text-align: center;

      background-color: $whiteColor;
      opacity: 0;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 3px;

      transition: all 0.3s ease;
   }
}


@media screen and (max-width:768px) {
   .goodsPrice {
      max-width: 150px;
   }

   .sliderCard {
      .bottomBtn {
         bottom: 38px;
      }
   }
}