
@import "./../../abstracts/variables.scss";

span{
    display: block;
}

.cardProductContener{
    display: flex;
    margin: 45px 0 85px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.cardProductLeftWrap{
    width: 50%;
}
.cardProduct{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.SpanTop{
    position: absolute;
    top: 0;
    left: 0;
    background: $accentColor;
    padding: 15px 25px;
    color: #fff;
}

.cardProductImg{
    margin-top: 65px;
}

.SpanDiscount{
    position: relative;
    font-size: 30px;
    color: $textColor;
    margin-top: 20px;
    &::before{
        content: "";
        border-bottom: 2px solid $textColor;
        position: absolute;
        width: 100%;
        height: 50%;
        transform: rotate(-8deg);
    }
}

.SpanPrice{
    margin-top: 10px;
    font-size: 40px;
    font-weight: 700;
}
.cardProductSpan{
    margin-top: 20px;
    color:$accentColor;
    font-size: 15px;
}

.cardProductRightWrap{
    width: 50%;
}
.cardProductInfoImg{
    display: flex;
}

.ProductName{
    font-size: 30px;
}
.Subtitle{
    margin-top: 10px;
    font-size: 15px;
}

.InfoImg{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.imgVector{
    margin-right: 30px;
}
.imgHealth{
    margin-right: 30px;
}

.ProductDescription{
    margin-top: 50px;
}

.InfoLinkWrap{
    display: flex;
}
.InfoLink{
    margin-right: 35px;
    font-size: 20px;
    transition: .3s;
    border-bottom: 2px solid #fff;
    &:nth-last-child(1){
        margin-right: 0;
    }
    &:hover{
        text-shadow: 0 0 1px #333, 0 0 1px #333;
        border-bottom: 2px solid $accentColor;
    }
}

.cardProductBtn{
    background: #1C62CD;
    padding: 16px 55px;
    font-size: 14px;
    text-transform: uppercase;
    max-width: 180px ;
    color: #fff;
    transform: translate(80px, -70px);
}

.DescStringWrap{}
.wrap{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1199.98px) { 

    .cardProductImg{
        margin-top: 55px;
        max-width: 460px;
    }
    .cardProductLeftWrap{
       padding-left: 10px; 
    }

}

@media (max-width: 991.98px) { 
    .cardProductImg{
      max-width: 350px;  
    }
    .SpanTop{
        font-size: 14px;
        padding: 10px 20px;
    }
    .SpanDiscount{
        font-size: 23px;
    }
    .SpanPrice{
        font-size: 33px;
    }
    .ProductName{
        font-size: 25px;
    }
    .InfoLink{
        font-size: 18px;
        &:nth-child(1){
            margin-right: 25px;
        }
    }
    .cardProductBtn{
        transform: translate(80px, -15px);
    }
}

@media (max-width: 767.98px) { 
    .cardProductContener{
        flex-direction: column;
        align-items:center;
    }
    .cardProductRightWrap{
        order: -1;
        width: 80%;
    }
    .cardProductLeftWrap{
        padding: 0;
    }
    .DescStringWrap{
        display: none;
    }
    .InfoLinkWrap{
        display: none;
    }

    .cardProductBtn{
        transform: translate(0, 45px);
    }
    .cardProductImg{
        max-width: 300px;
    }
}

@media (max-width: 575.98px) {
    .ProductName{
        font-size: 22px;
    }
    .SpanDiscount{
        font-size: 18px;
    }
    .SpanPrice{
        font-size: 26px;
    }
    .cardProductBtn{
        width: 90%;
    }
}

@media (max-width: 435.98px){
    .cardProductBtn{
        max-width: 90%;
    }
    .ProductName{
        font-size: 18px;
    }
}