

span{
    display: block;
}


.descString{
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    border-bottom: 1px solid black;
    font-size: 20px;
    margin-top: 15px;

    &:nth-child(2){
        margin-top: 25px;
    }
}
.Span{
    width: 27%;
}


@media (max-width: 991.98px){
    .descString{
        font-size: 16px;
    }
}