@import "./../../abstracts/variables.scss";


.blokFilter {
   max-width: 300px;
   margin-right: 10px;
   min-width: 300px;
}

.component {
   margin-top: 20px;
}

.FilterTitle {
   display: flex;
}

.filterList {
   display: flex;
}

.titleLink {
   text-transform: uppercase;
   margin-right: 40px;
   font-size: 16px;
   color: $lightGrey;
   transition: .2s;
   border-bottom: 2px solid #fff;

   &:hover {
      color: $textColor;
      border-bottom: 2px solid $accentColor;
      text-shadow: 0 0 1px #333, 0 0 1px #333;
   }
}

.availability {
   margin-top: 50px;
}

.checkboxWrap {
   display: flex;
   
   flex-wrap: wrap;
   // max-width: 230px;
   justify-content: space-between;
   margin-top: 20px;
   margin-right: 60px;

   &:nth-child(2) {
      margin-right: 0;
      height: 50px;
   }
   &:nth-child(5) {
      margin-right: 0;
      height: 50px;
   }
   &:nth-child() {
      margin-right: 0;
      height: 50px;
   }

   &:nth-child(4) {
      margin-right: 0;
      height: 75px;
   }
  
}

.filterPriseWrap {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-top: 20px;
}

.spanText {
   display: inline-block;
   color: $lightGrey;
   margin-right: 15px;
   font-size: 14px;
}

.spanNumb {
   display: inline-block;
   color: $textColor;
   border-bottom: 1px solid $textColor;
   font-size: 14px;
}

.filterPowerItem {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #C4C4C4;
}

.powerItemTitle {
   margin: 20px 0 10px 0;
}

.blokFilterBottom {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.btnWrap {
   margin-top: 20px;
   
}

.parameters {
   color: $textColor;
   text-align: center;
   margin-top: 15px;
}

.blokFilterBottom {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 40px;
}

.titleWrap{
   display: block;
   margin-left: 20px;
   position: relative;
   cursor: pointer;
   &::before{
      content: "";
      position: absolute;
      top: 15%;
      left: -20px;
      background-image: url("./../../assets/image/arrow/Back.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 12px;
      height: 10px;
      
   }
}
.root{

}
/***********Accordion*******/

.input{
   
   top: 0;
   left: 0;
   opacity: 0;
   display: block;
   transition: 2s;
}

.input:checked ~.titleWrap::before{
   border-bottom: none;
   transform: rotate(180deg);
   top: 5%;
}
.input:checked ~ .checkboxWrap{
   display: none;
}
input:checked ~ .btnWrap{
   display: none;
}
input:checked ~ .root{
   display: none;
}
/***********Accordion  END*******/

@media (max-width: 1199.98px) {
   .blokFilter {
      padding-left: 10px;
   }


}

@media screen and (max-width:900px) {
   .blokFilter {
      display: none;
   }
}