@import "./../../abstracts/variables.scss";

.blokInfo{
   width: 100%;
}
.LinkWrap{
   display: flex;
   margin-top: 20px;
}
.title{
   font-size: 30px;
   margin: 40px 0 0 0;
}

.blokInfoFilter{
   display: flex;
   justify-content: space-between;
   margin: 25px 0 0 0;
}
.FliterLeft{
   display: flex;
}
.FliterLink{
   display: block;
   background: $baseColor;
   margin: 0 10px 0 0;
   cursor: pointer;

   padding: 5px 25px;
   border-radius: 3px;
   height: min-content;
   &:nth-last-child(1){
      margin: 0;
   }
   &:nth-child(2){
      min-width: 110px;
   }
}
.blokInfoFliterRight{
   display: flex;
   align-items: center;
}

.Select{
   border: 2px solid $baseColor;
   font-size: 14px;
   padding: 10px 20px;
   margin-right: 35px;
}

.InfoBurgers{
   display: flex;
}
.BurgerLeft{
   margin-right: 10px;
}


@media (max-width: 1199.98px) { 
   .blokInfo{
      padding: 0 20px;
   }

}
@media (max-width: 835.98px) { 
   .blokInfo{
      display: flex;
      flex-direction: column;
      margin-top: 40px;
   }

   .blokInfoFilter{
      flex-direction: column-reverse;
   }
   .FliterLeft{
      margin-top: 20px;
   }
   .title{
      font-size: 26px;
   }
}
@media (max-width: 535.98px) { 
   .FliterLeft{
      overflow-x: scroll;
      
   }
   .title{
      font-size: 24px;
   }
}