@import './abstracts/mixins.scss';
@import './abstracts/variables.scss';

@font-face {
  font-family: 'SF Pro Display';
  src: url(./assets/fonts/SFProDisplay-Regular.woff);
  font-weight: 400;
  font-style: normal;
}


* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

button {
  border-style: none;
}

.mainApp {
  min-height: 100vh;

  @include text-edit ('SF Pro Display', 400, 1rem, 1);

  background-color: $whiteColor;
  color: $textColor;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}